p{
    font-family: Roboto, Arial;
}
.main-div{
    padding-top: 50px;
}
.status-div,
.button-div{
    display: flex;
    align-items: center;
    justify-content: center;
        

}

.main-status,
.main-button{
    margin-top: 0;
    margin-bottom: 0;
}

.main-button{
    font-family: Roboto;
    font-weight: 500;
    border-radius: 30px;
    cursor: pointer;
    transition: opacity 1s;
    background-color: rgb(5, 6, 45);
    font-size: 50px;
    color:white;
    padding-left: 40px;
    padding-right: 40px;
    min-width: 20%;
 
    
}
.main-button:hover{ 
    opacity: 0.6;
    box-shadow: 0 0 0 rgba(0,0,0,0.001); 

}
button:active{ 
    opacity: 0.3;
}

@media screen and (min-width: 601px) {
    .main-button {
      width: 300px; height: 70px; 
    }      
  }
  @media screen and (max-width: 600px) {
    .main-button {
      width: 500px; height: 75px;  
    }
  }